.big-container {
  height: 60px;
  background-color: #8568ff;
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
}
.greenbox {
  margin-left: 100px;
  width: 50%;
  height: 30px;
  margin-right: 10px;
  margin-top: 1%;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  align-items: center;
}

.links {
  text-decoration: none;
  color: black;
}

.links.active {
  text-decoration: none;
  color: white;
}

.shop {
  display: flex;
  justify-content: flex-start;
}

.rightnav {
  display: flex;
  color: white;
  justify-content: space-evenly;
}
