.container {
	width: 100%;
	height: 60px;
	background-color: #8568ff;
	display: flex;
}
.greenbox {

  margin-left: 100px;
  width: 60%;
  height: 30px;
  margin-right: 100px;
  margin-top: 1%;
  display: flex;
  justify-content: space-around;
  text-decoration: none;

  align-items: center;
}

.links {
  text-decoration: none;
  color: black;
}

.links.active {
  text-decoration: none;
  color: white;
}

.shop {
  display: flex;
  justify-content: flex-start;
}

.redbox {
  margin-left: 10em;

}
